<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template :: header">
	</head>
	<body>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-style-custom" th:fragment="navigation">
			<a class="navbar-brand" href="#" id="logo-custom">My Logo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center navigation-center" id="navbarSupportedContent">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link active " href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Process Areas</a>
					</li>
				</ul>
			</div>
		</nav>
	</body>
</html>