<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<!-- Header Information -->
	<head th:replace="fragments/header :: header"></head>

	<body>
	
		<!-- Navigation Bar -->
		<nav th:replace="fragments/navigation-unsecure :: navigation">
		</nav>
		<!-- Sub Navigation Bar -->
		<nav th:replace="fragments/sub-navigation :: sub-nav-task">
		</nav>
		<!-- Page Title Information -->
		<!-- TODO: Figure out a way to make this a fragment and adding header to model attribute -->
		<header class="container-fluid">
			<h2 class="carousel-text-align" id="carousel-header-2">Create Task</h2>
			<hr >
		</header>
		
		<div class="container-fluid">
			<form th:object="${task}" method="post" th:action="@{/project/{id}/create-task(id = ${project_id})}">
				<div class="form-row project-form-space">
					<div class="form-group col-md-8">
					    <!-- Form Row 1 -->
					    <div class="form-row">
					    	<div class="form-group col">
					    		<label for="taskName">Task Name</label>
								<input type="text" class="form-control project-input" id="taskName" th:field="*{taskName}" th:classappend="${#fields.hasErrors('taskName')} ? is-invalid :''">
								<div th:if="${#fields.hasErrors('taskName')}" th:class="invalid-feedback" th:errors="*{taskName}">
						    		<p th:errors="*{taskName}"></p>
						    	</div>
					    	</div>
					    	<div class="form-group col">
								<label for="taskType" style="margin-right: 1%;">Task Type</label>
								<select class="custom-select project-input" name="taskType" th:classappend="${#fields.hasErrors('taskType')} ? is-invalid:''">
									<option th:each="pTaskType: ${T(com.quedacoder.WorkTaskApplication.enums.TaskType).values()}"
									        th:value="${pTaskType}" th:text="${pTaskType.taskType}"></option>
								</select>
								<div th:if="${#fields.hasErrors('taskType')}" th:class="invalid-feedback" th:errors="*{taskType}">
						    		<p th:errors="*{taskType}"></p>
						    	</div>
							</div>
					    </div>
					    <!-- Form Row 2 -->
					    <div class="form-row">
					    	<div class="form-group col">
					    		<label for="startDate">Planned Start Date</label>
								<input type="date" pattern="yyyy-MM-dd" class="form-control project-input" id="startDate" th:field="*{startDate}">
					    	</div>
					    	<div class="form-group col">
								<label for="createdBy">Created By</label>
								<input type="text" class="form-control project-input" id="createdBy" th:value="*{createdBy}" th:field="*{createdBy}" th:classappend="${#fields.hasErrors('createdBy')} ? is-invalid:''">
								<div th:if="${#fields.hasErrors('createdBy')}" th:class="invalid-feedback">
						    		<p th:errors="*{createdBy}"></p>
						    	</div>
							</div>
					    </div>
					    <!-- Form Row 3 -->
					    <div class="form-row">
							<div class="form-group col">
								<label for="status">Task Status</label>
								<select class="custom-select project-input" name="status" th:classappend="${#fields.hasErrors('status')} ? is-invalid:''">
									<option th:each="pStatus: ${T(com.quedacoder.WorkTaskApplication.enums.Status).values()}"
									        th:value="${pStatus}" th:text="${pStatus.status}"></option>
								</select>
								<div th:if="${#fields.hasErrors('status')}" th:class="invalid-feedback" th:errors="*{status}">
						    		<p th:errors="*{status}"></p>
						    	</div>
							</div>
							<div class="form-group col">
								<label for="ticketNumber">Ticket Number</label>
								<input type="text" class="form-control project-input" id="ticketNumber" th:value="*{ticketNumber}" th:field="*{ticketNumber}">
							</div>
					    </div>
					</div>
					<!-- Form Column 3 -->
					<div class="form-group col-md-4">
						<label for="taskDescription">Description</label>
						<textarea cols="25" rows="3" class="form-control" th:field="*{taskDescription}" th:classappend="${#fields.hasErrors('taskDescription')} ? is-invalid :''"
						          style="margin-bottom: 3.5%;"></textarea>
						<div th:if="${#fields.hasErrors('taskDescription')}" th:class="invalid-feedback">
				    		<p th:errors="*{taskDescription}"></p>
				    	</div>
				    	<label for="comments">Comment</label>
						<textarea cols="25" rows="3" class="form-control" th:field="*{comments}" th:classappend="${#fields.hasErrors('comments')} ? is-invalid :''"></textarea>
						<div th:if="${#fields.hasErrors('comments')}" th:class="invalid-feedback">
				    		<p th:errors="*{comments}"></p>
				    	</div>
					</div> 
					
				</div>
				<div class="form-row">
					<div class="form-group mr-auto ml-auto">
						<button type="submit" class="btn btn-danger mr-auto ml-auto" name="action" value="cancel">Cancel</button>
						<button type="submit" class="btn btn-info mr-auto ml-auto" name="action" value="save">Save Task</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>