<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
	
		<!-- Navigation Bar -->
		<nav th:replace="fragments/navigation-unsecure :: navigation">
		</nav>
		
		<!-- Header Information -->
		<!-- TODO: Figure out a way to make this a fragment and adding header to model attribute -->
		<header class="container-fluid">
			<h2 class="carousel-text-align" id="carousel-header-2">Sign In</h2>
			<hr >
		</header>
		<!-- Login Form -->
		<div class="container">
			<div class="row">
				<form class="center-forms" th:action="@{/login}" method="post">
					<div th:if="${param.error}">
					    <div class="alert alert-danger">Invalid username or password.</div>
					</div>
					<div th:if="${param.logout}">
					    <div class="alert alert-info">You have been logged out.</div>
					</div>
				  	<div class="form-group row">
				    	<label for="username">Username: </label>
				    	<input type="text" class="form-control" id="username" name="username" autofocus="autofocus" placeholder="Username">
				  	</div>
				  	<div class="form-group row">
				    	<label for="password">Password: </label>
				    	<input type="password" class="form-control" id="password" name="password" placeholder="Password">
				  	</div>
				  	<div class="form-group row">
					      <button type="submit" class="btn btn-success" name="login-submit" id="login-submit">Sign In</button>
					       <span id="registration-login-link"> New User? <a href="/" th:href="@{/registration}">Register here</a></span>
					</div>
				</form>			
			</div>
		</div>
	</body>
</html>